* {
  box-sizing: border-box;
}

%full {
  height: 100%;
  width: 100%;
}

html {
  @extend %full;
  background: black;
  overflow: hidden !important;
}

body{
  @extend html;
  margin: 0;
  padding: 0;
}

#create {
  @extend %full;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  > canvas {
    height: 80%;
  }
}

.holder {
  margin-left: 5vh;
  font-size: 35px;
  font-family: "Amatic SC", "Open Sans", Arial, sans-serif;
  font-weight: 700;

  .header {
    font-size: 9vh;
  }

  .seed {
    font-size: 4vh;
  }
}
